<style>
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #D9D9D9;
        color: #333;
        font-size: 1rem;
        width: 100%;
        position: absolute;
        left: 0;
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
    }
    li img{
        width: 30px;
        margin: 0 10px;
    }
    p{
            margin: 0 10px;
    }
    /* Mobile Styles */
    @media (max-width: 600px) {
        footer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            text-align: center;
            padding: 20px 0;
        }
        footer ul{
            display: none;
        }
    }

</style>
<footer>
    <p>&copy; 2024 Jovelyn S. Icabales</p>
    <ul>
        <li><a href="https://www.facebook.com/Jsicabales/"><img src="../assets/facebook.png" alt="fb"></a></li>
        <li><a href="https://www.linkedin.com/in/jsicabales/"><img src="../assets/linkedin.png" alt="ln"></a></li>
        <li><a href="mailto:icabalessolengjovelyn@gmail.com"><img src="../assets/email.png" alt="gmail"></a></li>
    </ul>
</footer>